.ahting{
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 30px;


    display: flex;
    flex-direction: column;
    align-items: center;
    

    
    
}
.ahting:hover{
    transform: translate(90px, 18px);
    transform: rotate(45deg);
    transform: scale(1.5);
    background-color: blue;
    transition:ease-in 0.2s;

}
body{
    display: flex;
    flex-direction: column ;

    justify-content: center;
    align-items: center;

    position:relative ;
    top: 120px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}